#app {

  .headbar-container {
    width: 100%;
    height: $headbarHeight !important;
    padding: 0;
    color: #fff;
    background: $headBg;

    .logo-container{
      float: left;
      width: $sideBarWidth;
      height: $headbarHeight;
      line-height: $headbarHeight;
      padding-left: 15px;
      padding-right: 15px;
    }

    .navtip-container{
      margin-left: $sideBarWidth;
      height: $headbarHeight;
      line-height: $headbarHeight;
    }
  }


  .openSidebar {
    .sidebar-container {
      margin-left: 0;
    }
  }
  .hideSidebar {
    .sidebar-container {
      margin-left: -$sideBarWidth;
    }
  }
  .sidebar-container {
    transition: margin-left 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    font-size: 0px;
    font-weight: 500;


    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }

    .el-submenu__title i{
      color: #fff;
      font-weight: 700;
      transform:rotate(90deg);
    }
    .el-scrollbar__view>.el-menu {
      border: none;
      height: 100%;
      width: 100% !important;

      >.menu-wrapper > a .el-menu-item{
        border-bottom: 1px solid $headBg;
      }
      >.menu-wrapper > .el-submenu >.el-submenu__title{
        border-bottom: 1px solid $headBg;
      }
      >.menu-wrapper > a.router-link-active{
        border-left: 3px solid $headBg;
      }
      >.menu-wrapper > .el-submenu.is-opened >ul{
        border-bottom: 1px solid $headBg;
      }
      >.menu-wrapper > .el-submenu.is-active >div{
        border-left: 3px solid $headBg;
      }

      >.menu-wrapper .el-submenu >div{
        >i {
          font-weight: 700;
        }
      }
      >.menu-wrapper .el-submenu.is-opened >div{
        >i {
          transform:rotate(0deg);
        }
      }
      >.menu-wrapper .el-submenu.is-active >div{
        >i {
          color: $headBg;
        }
      }

    }

    // Netsun
    .el-menu-item,.el-submenu__title{
      font-size: 16px;
      height: 49px;
      line-height: 49px;
    }
    .el-submenu > .el-menu .el-menu-item{
      height: 42px;
      line-height: 42px;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
      transition: inherit !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .crumbar-container {
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 1002;
    background: #fff;
    box-shadow: 0 1px 7px 0 rgba(12, 51, 92, 0.2);

    .breadcrumb-container {
      float: left;
    }
    .right-name {
      float: right;
      height: 100%;
      line-height: 50px;
    }
  }


  .appMain-container {
    background: #f8f8f8;
  }


  // mobile responsive
  .mobile {
    .headbar-container{
      height: $headbarMobile !important;

      .logo-container{
        height: 60px;
        width: 100%;
        float: inherit;
        line-height: 60px;
        border-bottom: 1px solid #fff;
        text-align: center;
      }

      .navtip-container{
        height: 40px;
        width: 100%;
        margin-left: 0;
        line-height: 40px;
      }
    }

  }

  .withoutAnimation {
    .sidebar-container,
    .appMain-container {
      transition: none;
    }
  }
}


